# Supabase Configuration
SUPABASE_URL=https://zsbgxbtfeamlpmousozi.supabase.co
SUPABASE_KEY=your_supabase_anon_api_key_here
SUPABASE_DATABASE_URL=postgresql://postgres:OMYLTb1Hk4Lwrrwm@db.zsbgxbtfeamlpmousozi.supabase.co:5432/postgres
# JWT Configuration
JWT_SECRETKEY=9738a3c17860bb1cbb78c5bfa6b5dcd4934208d8fbf3b4571ad75b344f140a92
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Email Configuration (SMTP)
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password_here
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
